# Amlogic POWER OFF
config AMLOGIC_REBOOT
	bool "Amlogic Board level reboot or power off"
	default n
    help
		This is the Amlogic
		Board reboot
		or poweroff
		driver.

config AMLOGIC_GX_REBOOT
	bool "Amlogic reboot gx"
	depends on AMLOGIC_REBOOT
	default n
    help
		This is the Amlogic GX reboot driver.
